/* CSS declarations go here */

/*Top Headline*/
h1 {
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
}

/*The User*/
.userDis{
  border: 5px solid purple;
  /*text-align: center;*/
  width: 48%;
  float: right;
  list-style-type: none;
}

.delete:hover {
  background: red;
  border-radius: 6px;
  box-shadow: 5px 5px 2px #888888;
}

/*The Player*/
.container {
  border: 5px solid red;
  text-align:center;
  width:48%;
}
iframe{
  width: 300px;
}

/*Playlist*/
.playListClass{
  border: 5px solid blue;
  display: block;
  float: right;
  width: 48%;
}

.playListClass li {
  list-style-type: none;
}

/*The Search*/
.list {
  border: 5px solid green;
  display: block;
  float: left;
  width: 48%;
}

#search li {
  font-size: .8em;
  list-style-type: none;
}

a {
  text-decoration: none;
}

form {
  text-align: center;
}
